@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --green: #517C60;
  --light-green: #EAEED8;
  --dark-green: #364B3D;
  --dark-pink: #FF8AF3;
  --pink: #FFBFF9; 
  --yellow: #FFE382;
}

h1 {
  color: #FF8AF3;
  font-family: 'League Spartan';
  font-weight: 400;
  font-size: 60px;
}

h2 {
  color: black;
  font-family: 'Poppins';
  font-size: 40px;
 }

a {
  color: var(--dark-green) !important;
  text-decoration: none !important;
}

.h1-pink {
  color: #FF8AF3;
  font-family: 'League Spartan';
  font-weight: 400;
  font-size: 60px;
  line-height: 48px ;
}

.green-button {
  background-color: var(--dark-green);
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-family: "Poppins";
  width: 100%;
  border: none;
  margin-top: 2rem;
}

.green-button:hover {
  background-color: var(--green);
  color: white;
}

.green-button:active {
  background-color: var(--green);
  color: white;
}

.already-account {
  margin-top: 4rem;
  text-align: center;
}

.forgot-password {
  color: var(--green) !important;
}

.background-green {
  background-color: var(--green);
  color: var(--dark-green);
}

.white-right-panel {
  background-color: white;
  color: black;
  width: 70vw;
  height: 100vh;
  margin-left: auto;
  border-radius: 30px 0px 0px 30px;

}

.white-right-panel-editor {
  background-color: white;
  color: black;
  width: 95vw;
  height: 100vh;
  margin-left: auto;
  border-radius: 30px 0px 0px 30px;

}

.background-filter {
  background-color: gray;
}

.editor-navbar {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-inline: 2rem;
  top: 1.5rem;
  height: 4rem;
}

.add-link-div {
  border-radius: 10px;
  border: 3px solid var(--Green, #517C60);
  background: #F8FBF9;
  padding: 40px;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-link-button {
  height: fit-content;
  margin-left: 2rem;
  text-wrap: nowrap;
  border-radius: 10px;
  background: var(--pink);
  border: none;
  padding: 8px 30px;
}

.navbar > .container {
  column-gap: 2rem !important;
  justify-content: left !important;
}


.green-left-panel-text {
  max-width: 20%;
  font-size: 18px;
  position: absolute;
  margin-top: 10%;
  margin-left: 3rem;
  color: var(--yellow);
}

.flower-image-panel {
  position: fixed;
  width: 40vw;
  bottom: 0;
  left: 10vw;
}

.white-panel-logo {
  width: 10vw;
  margin-top: 2rem;
  margin-left: 2rem;
}

.form-label {
  margin-bottom: 0 !important;
  font-family: 'Poppins';
  color: black;
}

.page-description {
  color: var(--dark-green);
  margin-bottom: 2rem;
}

.category-button {
  border-radius: 10px;
  border: 3px solid var(--Light, #EAEED8);
  background: var(--Light, #EAEED8);
  padding: 5px 40px;
  margin: 10px 20px 0px 0px;
}

.category-button-selected {
  color: white;
  background: var(--dark-green);
}

.category-button:hover {
  background-color: var(--dark-green);
  color: white;
}

.just-text-button {
  background-color: transparent;
  border: none;
  color: var(--dark-green);
}

.exit-button {
  background-color: transparent;
  border: none;
  margin-right: 2rem;
}

.link-display-div {
  border-radius: 10px;
  background: #E1EAE4;
  border: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
}

.trash-button {
  background-color: transparent;
  border: none;
}

.chevron-button {
  position: absolute;
  top: 50vh;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

.closed-white-tab {
  background-color: white;
  color: black;
  width: 3vw;
  height: 100vh;
  margin-left: auto;
  border-radius: 30px 0px 0px 30px;
}

.loading-bar-container {
  width: 100%;
  height: 10px;
  background-color: var(--light-green); /* Background color for the loading bar container */
  border-radius: 50px;
  margin-bottom: 10px;
}

.loading-bar {
  height: 100%;
  background-color: var(--green); /* Loading bar color */
  border-radius: 4px;
  transition: width 0.3s ease-in-out; /* Transition for smooth width changes */
}

.loading-bar-padding {
  padding-top: 50px;
}

.template-button {
  border: none;
  background-color: transparent;


}

.template-button:hover {
  border: #FFE382;
  background-color: transparent;  
  border-radius: 15%;
  border-style: dashed;
  border-width: 4px;
}

.selected-template-button {
  border: #FFE382;
  background-color: transparent;  
  border-radius: 15%;
  border-style: dashed;
  border-width: 4px;
}

.template-div {
  display: flex;
  width: 10px;
  column-gap: 40px;
  padding-top: 15%;
  padding-bottom: 8%;

}

.color-button {
  padding-top: 25%;
  padding-bottom: 10%;
  padding-left: 45%;
}
