@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --green: #517C60;
  --dark-green: #364B3D;
  --dark-pink: #FF8AF3;
  --pink: #FFBFF9; 
  --yellow: #FFE382;
}

h1 {
  color: #FF8AF3;
  font-family: 'League Spartan';
  font-weight: 400;
  font-size: 60px;
}

h2 {
 color: black;
 font-family: 'Poppins';
 font-size: 40px;
}

.green-button {
  background-color: var(--dark-green);
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.background-green {
  background-color: var(--green);
  color: var(--dark-green);
}

.white-right-panel {
  background-color: white;
  color: black;
  width: 70vw;
  height: 100vh;
  margin-left: auto;
  border-radius: 30px 0px 0px 30px;

}


.green-left-panel-text {
  max-width: 20%;
  font-size: 18px;
  position: absolute;
  margin-top: 10%;
  margin-left: 3rem;
}

.flower-image-panel {
  position: fixed;
  width: 40vw;
  bottom: 0;
  left: 10vw;
}

.white-panel-logo {
  width: 10vw;
  margin-top: 2rem;
  margin-left: 2rem;
}